# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Ignore node_modules in specific folders
SUMMARIZER/node_modules/
Backend2/node_modules/
Frontend/node_modules/

# Dist folders
dist
dist-ssr

# Environment files
.env

# Package lock files
package-lock.json

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?



# Source files




 
